<!doctype html>
<html>
  <head>
    <title>Getting Started</title>
  <link href="/css/home.css" rel="stylesheet"></head>
  <body>
    <div>ha</div>
    <i class="iconfont icon-touzi"></i>
    <ul class="bxslider">
      <li><img src="http://t.focus-img.cn/xf/zxc/f739f10eaff15f2cd876896b2f669741.jpg" /></li>
      <li><img src="http://t.focus-img.cn/xf/zxc/f739f10eaff15f2cd876896b2f669741.jpg" /></li>
      <li><img src="http://t.focus-img.cn/xf/zxc/f739f10eaff15f2cd876896b2f669741.jpg" /></li>
      <li><img src="http://t.focus-img.cn/xf/zxc/f739f10eaff15f2cd876896b2f669741.jpg" /></li>
    </ul>
  <script type="text/javascript" src="/js/manifest.js"></script><script type="text/javascript" src="/js/vendor.js"></script><script type="text/javascript" src="/js/home.js"></script></body>
</html>